# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Project files
sdkconfig*
*.code-workspace
*.vscode
build/
*.pem
sdkconfig
.vagrant
node_modules
*.backup
vagrant/nodered/.config.json
temp
*.bin
screenlog*

# Components
cpp_utils

